body {
    font-family: poppins, sans-serif;
    
    
}

header { 
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: bisque;
    background-image: url(img/bg-image.png);
    
    
    
}


.navbar {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
    max-width: 1161px;
    margin: auto, 0;
}

.navbar__navigation{
    align-self: center;
}

.navbar__link {
    text-decoration: none;
    margin: 16px;
    color: #000000;
    transition: color 0.15s;
}

.navbar__link:hover {
    color: #FF902B;

}

.navbar__info {
    position: relative;
    display: flex;
    vertical-align:middle;
}

.navbar__search { 
    display: flex;
    padding: 3px;

    align-items: center;
    background-color: #ffffff;
    border-radius: 35px;
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
}

.navbar__search-button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
}

.navbar__search-button:hover {
 transform: scale(1.2);
}

.navbar__search-line {
    align-self: center;

    outline: none;
    border: none;
    background-color: transparent;

    font-size: 14px;
}

.navbar__cart {
    margin-left: 32px;
    margin-top: auto;
}