body {
    font-family: poppins, sans-serif;
    
    
}

.container{ 
    max-width: 1161px;
    margin:  auto;
}

header { 
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: bisque;
    background-image: url(img/bg-image.png);
    
    
    
}


.navbar {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 35px;
    justify-content: space-between;
    width: 100%;
    max-width: 1161px;
    margin: auto, 0;
    margin-bottom: 140px;
}

.navbar__navigation{
    align-self: center;
}

.navbar__link {
    text-decoration: none;
    margin: 16px;
    color: #000000;
    transition: color 0.15s;
}

.navbar__link:hover {
    color: #FF902B;

}

.navbar__info {
    position: relative;
    display: flex;
    vertical-align:middle;
}

.navbar__search { 
    display: flex;
    padding: 3px;

    align-items: center;
    background-color: #ffffff;
    border-radius: 35px;
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
}

.navbar__search-button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
}

.navbar__search-button:hover {
 transform: scale(1.2);
}

.navbar__search-line {
    align-self: center;

    outline: none;
    border: none;
    background-color: transparent;

    font-size: 14px;
}

.navbar__cart {
    margin-left: 32px;
    margin-top: auto;
}

.header__content{
    
    width: 100%;
    max-width: 1161px;
    margin: auto;
    display: flex;
    justify-content: space-between;


}

.header__decription {

}

.header__tittle {
    width: 490px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.tittle__word {
    color: #FF902B;
}

.header__text {
    margin-top: 24px;

    width: 395px;
    font-size: 18px;
    line-height: 27px;
}

.header__links {
    display: flex;
    vertical-align: middle;
    
    margin-top: 32px;
}

.header__order {
    width: 170px;
    

    display: flex;
    vertical-align: center;
    justify-content: center;
    text-align: center;
    
    
    background-color: #2F2105;
    border-radius: 33px;
    padding: 12.5px;

    transition: transform 0.3s;
}

.header__order:hover {
    transform: scale(1.2);
}

.header__button {
    margin: 0;
    border: 0;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 600;
    outline: none;
    background-color: inherit;
}

.order__img {
    padding: 5px;
    margin-left: 10px;
    background-color: #FF902B; 
    border-radius: 60px;
}

.header__more {
    margin-left: 50px;
    margin-top: 15px;
    text-decoration: none;

    font-size: 12px;
    line-height: 18px;
    font-weight: 700;

    text-align: center;

    color: #FF902B;

    transition: color 0.2s;
}

.header__more:hover {
    color: #000000;
}

.cup__post {
    margin-top: -60px;
    display: flex;
    align-items: center;
    width: 416px;
    height: 416px;

    border-radius: 300px;
    background-color: #2F2105;
}

.cup__img {
    margin-left: 40px;
    margin-bottom: 50px;
    width: 350px;
}

.main {
    margin-top: 20px;
    position: absolute;
}